/* Common */



.hero__categories a:hover{

    color: #15a362;
	transition: ease-in 0.1s;
}

/* Shop Catagorization*/
.sidebar__item ul li a:hover{

    color: #15a362;
	transition: ease-in 0.1s;
}

/* index.php Login Block*/
body div.header__top__right__auth:hover a{

    display: block;
	font-size: 14px;
	color: #15a362;
	transition: ease-in 0.1s;
}

/* Cart.php Button */
body div.shoping__cart__btns a:hover{
    transition: ease-in-out 50ms;
    background-color: #15a362;
    color: #ffffff;
}

.fa-shopping-cart:hover{

    color: #15a362;
    transition: ease-in 0.1s;
}

.hero__search__form:hover form button:hover .site-btn:hover{
    transition: ease-in-out 50ms;
    background-color:#55bd8c;
}

.hero__text p{
    color: #f0f0f0;
}

.hero__search__form form input{

    color: #1f1f1f;
}

.product-qty {
	width: 140px;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 5px;
}

.product-qty input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #6f6f6f;
	width: 50px;
	border: none;
	background: #f5f5f5;
	text-align: center;
}

.product-qty .qtybtn {
	width: 35px;
	font-size: 16px;
	color: #6f6f6f;
	cursor: pointer;
	display: inline-block;
}

.product__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover button {
	font-size: 18px;
	color: #1c1c1c;
	height: 45px;
	width: 45px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 5%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.product__item__pic__hover button:last-child{
	margin-right: 0;
}

.product__item__pic__hover button:hover {
	background: #15a362;
	border-color: #15a362;
}

.product__item__pic__hover button:hover i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__pic__hover button i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}